---
- name: Install Nginx
  yum:
    name: nginx
    state: present

- name: Enable and start Nginx
  systemd:
    name: nginx
    enabled: yes
    state: started

- name: Copy frontend index.html
  copy:
    src: index.html
    dest: /usr/share/nginx/html/index.html
    mode: "0644"

- name: Deploy reverse proxy config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/reverse-proxy.conf
    mode: "0644"

- name: Reload Nginx
  systemd:
    name: nginx
    state: restarted
    enabled: yes
