name: Ansible Deployment (Ubuntu Runner)

on:
  workflow_dispatch:
    inputs:
      nginx_ip1:
        description: "Public IP of Nginx EC2 #1"
        required: true
      nginx_ip2:
        description: "Public IP of Nginx EC2 #2"
        required: true
      java_ip1:
        description: "Private IP of Java EC2 #1"
        required: true
      java_ip2:
        description: "Private IP of Java EC2 #2"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python (for Ansible)
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Ansible & jq
      run: |
        python -m pip install --upgrade pip
        pip install ansible
        sudo apt-get update && sudo apt-get install -y jq

    - name: Generate Ansible Inventory
      run: |
        mkdir -p ansible
        cd ansible
        echo "[nginx]" > inventory.ini
        echo "${{ github.event.inputs.nginx_ip1 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini
        echo "${{ github.event.inputs.nginx_ip2 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini

        echo "" >> inventory.ini
        echo "[java]" >> inventory.ini
        echo "${{ github.event.inputs.java_ip1 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini
        echo "${{ github.event.inputs.java_ip2 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini

    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.KEY_NAME }}" > ~/.ssh/ec2.pem
        chmod 400 ~/.ssh/ec2.pem

    - name: Test SSH Connectivity
      run: |
        cd ansible
        ansible nginx -i inventory.ini -m ping
        ansible java -i inventory.ini -m ping

    - name: Run Ansible Playbook
      run: |
        cd ansible
        ansible-playbook -i inventory/inventory.ini playbooks/site.yml
